@import "components/mixins";
:host {
  position: fixed;
  top: 15px;
  right: 0;
  width: 456px;
  height: calc(100% - 30px);
  overflow: hidden;
  background: var(--white);
  box-shadow: 0 5px 27px rgba(0, 0, 0, 0.1);
  padding: 105px 0 30px;
  transform: translate(100%, 0);
  opacity: 0.2;
  transition: all 0.3s;
  z-index: 99;
  @include for-mobile {
    top: 55px;
    bottom: 0;
    height: auto;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 0;
    border-radius: 12px 12px 0 0;
    transform: translate(0, 100%);
  }
  &.active {
    transform: translate(0);
    opacity: 1;
  }
  .title-1 {
    font-size: 24px;
    margin: 0 15px 30px;
    @include for-mobile {
      margin-bottom: 15px;
      justify-content: space-between;
    }
    span {
      @include for-mobile {
        text-align: center;
      }
      button {
        display: none;
      }
      &.not-active {
        color: var(--na-font-color);
        cursor: pointer;
        @include for-mobile {
          font-size: 0;
          color: var(--white);
          button {
            margin-top: -10px;
            display: inline-block;
            font-size: 20px;
            color: var(--font-color-1);
          }
        }
      }
      &:not(:first-child) {
        margin-left: 15px;
        @include for-mobile {
          margin-left: 0;
        }
      }
    }
  }
}
.filter {
  &-close-btn {
    position: absolute;
    top: 20px;
    left: 5px;
    z-index: 2;
    @include for-mobile {
      position: relative;
      top: auto;
      left: auto;
    }
  }
  &-inner {
    max-height: calc(100% - 70px);
    overflow: auto;
    z-index: 2;
    @include for-mobile {
      height: calc(100% - 160px);
    }
    &__content {
      padding: 0 15px;
    }
  }
  &-reset-btn {
    font-weight: 500;
    color: var(--main-color);
    margin-left: 1px;
    margin-top: 15px;
    @include for-mobile {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  &-list {
    &__item {
      padding: 22.5px 15px;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include for-mobile {
        padding: {
          top: 15px;
          bottom: 15px;
        }
      }
      mat-icon {
        display: none;
        @include for-mobile {
          display: inline-block;
        }
      }
      cursor: pointer;
      &:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
      }
    }
  }
  &-actions {
    align-items: center;
    @include for-mobile {
      background: var(--white);
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 10px 0 10px;
      background: var(--white);
    }
  }
}

.apply-btn {
  display: none;
  @include for-mobile {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
  }
}
