<button mat-icon-button class="filter-close-btn" (click)="onClose()"><mat-icon>close</mat-icon></button>
<div class="filter-inner">
  <div class="title-1">
    <span [class.not-active]="activeFilterType" (click)="backToMainFilters()">Фильтр</span>
    <span *ngIf="activeFilterType">{{activeFilterType.title}}</span>
  </div>
  <div class="filter-list" *ngIf="!activeFilterType;else filterTypes">
    <div *ngFor="let item of filterItems" class="filter-list__item" (click)="onFilterItemCollapse(item)">
      {{item.title}}
    </div>
  </div>
  <ng-template #filterTypes>
    <ng-container [ngSwitch]="activeFilterType.value">
      <app-races-filter-travel-time *ngSwitchCase="filterTypesEnum.TRAVEL_TIME"></app-races-filter-travel-time>
    </ng-container>
  </ng-template>

  <button mat-button class="filter-reset-btn">Сбросить фильтр</button>
</div>
