<button mat-icon-button class="filter-close-btn" (click)="onClose()"><mat-icon>close</mat-icon></button>
<div class="title-1">
  <span [class.not-active]="activeFilterType" (click)="backToMainFilters()">Фильтр</span>
  <span *ngIf="activeFilterType">{{activeFilterType.title}}</span>
</div>
<div class="filter-inner">
  <div class="filter-list" *ngIf="!activeFilterType;else filterTypes">
    <div *ngFor="let item of filterItems" class="filter-list__item" (click)="onFilterItemCollapse(item)">
      {{item.title}}
      <mat-icon>chevron_right</mat-icon>
    </div>
  </div>
  <ng-template #filterTypes>
    <div class="filter-inner__content">
      <ng-container [ngSwitch]="activeFilterType.value">
        <app-race-filter-airline
          *ngSwitchCase="filterTypesEnum.AIRLINE"
          [airlines]="airlines"
          [searchSegments]="searchSegments"
          [control]="form.get('airline')"></app-race-filter-airline>
        <app-race-filter-airport
          *ngSwitchCase="filterTypesEnum.AIRPORT"
          [allAirports]="airports"
          [filterAirports]="filtersData.airports"
          [searchSegments]="searchSegments"
          [form]="form.get('airport')"></app-race-filter-airport>
        <app-race-filter-baggage
          *ngSwitchCase="filterTypesEnum.BAGGAGE"
          [control]="form.get('baggage')"></app-race-filter-baggage>
        <app-race-filter-duration
          *ngSwitchCase="filterTypesEnum.TRAVEL_DURATION"
          [flightsDuration]="filtersData.flights_duration"
          [form]="form.get('flights_duration')"
          [searchSegments]="searchSegments"
          [airports]="airports"></app-race-filter-duration>
        <app-race-filter-price
          *ngSwitchCase="filterTypesEnum.TICKET_PRICE"
          [price]="filtersData.price"
          [control]="form.get('price')"></app-race-filter-price>
        <app-races-filter-travel-time
          *ngSwitchCase="filterTypesEnum.TRAVEL_TIME"
          [departureDatetime]="filtersData.departure_datetime"
          [arrivalDatetime]="filtersData.arrival_datetime"
          [searchSegments]="searchSegments"
          [airports]="airports"
          [form]="form.get('travel_time')"></app-races-filter-travel-time>
      </ng-container>
    </div>
  </ng-template>
</div>
<div class="filter-actions">
  <button mat-button class="filter-reset-btn">Сбросить фильтр</button>
  <button mat-raised-button color="primary" class="apply-btn" (click)="onClose()">применить</button>
</div>
