<ng-container *ngIf="details;else noDetailsAvailable">
  <p>
    <ng-container *ngIf="race.aircraft">
      {{race.aircraft}}
    </ng-container>
    <br>
    {{"AVERAGE_DELAY" | translate}}: {{race.delay === undefined ? ("UNKNOWN" | translate) : race.delay | minutesToHoursMins}}
  </p>

  <ul>
    <li 
      [class.exists]="details.amenities.food.exists"
      [class.paid]="details.amenities.food.paid">
      <span class="icon icon-food"></span>
        {{"MEAL" | translate}}: 
        <ng-container *ngIf="details.amenities.food.exists;else notExists;">
          {{details.amenities.food.paid ? ('PAID' | translate) : ('FREE' | translate)  }}
        </ng-container>
    </li>
    <li 
      [class.exists]="details.amenities.power.exists"
      [class.paid]="details.amenities.power.paid">
      <span class="icon icon-power"></span>
      
        {{"USB" | translate}}: 
        <ng-container *ngIf="details.amenities.power.exists;else notExists;">
          {{details.amenities.food.paid ? ('PAID' | translate) : ('FREE' | translate)  }}
        </ng-container>
    </li>
    <li 
      [class.exists]="
        details.amenities.beverage.exists && 
        (
          details.amenities.beverage.type === beverageTypes.ALCOHOLIC_AND_NONALCOHOLIC
          ||
          details.amenities.beverage.type === beverageTypes.NONALCOHOLIC
        )
      "
      [class.paid]="details.amenities.beverage.nonalcoholic_paid">
      <span class="icon icon-nonalc"></span>
        {{"NA_BEVERAGE" | translate}}: 
        <ng-container *ngIf="details.amenities.beverage.exists && 
          (
            details.amenities.beverage.type === beverageTypes.ALCOHOLIC_AND_NONALCOHOLIC
            ||
            details.amenities.beverage.type === beverageTypes.NONALCOHOLIC
          );else notExists;">
        {{details.amenities.beverage.nonalcoholic_paid ? ('PAID' | translate) : ('FREE' | translate) }}
      </ng-container>
    </li>
    <li 
      [class.exists]="details.amenities.wifi.exists"
      [class.paid]="details.amenities.wifi.paid">
      <span class="icon icon-wifi"></span>
      
      Wi-Fi: 
      <ng-container *ngIf="details.amenities.wifi.exists;else notExists;">\
        {{details.amenities.wifi.paid ? ('PAID' | translate) : ('FREE' | translate)  }}
      </ng-container>
    </li>
    <li 
      [class.exists]="
        details.amenities.beverage.exists && 
        (
          details.amenities.beverage.type === beverageTypes.ALCOHOLIC_AND_NONALCOHOLIC
          ||
          details.amenities.beverage.type === beverageTypes.ALCOHOLIC
        )
      "
      [class.paid]="details.amenities.beverage.alcoholic_paid">
      <span class="icon icon-alc"></span>
      
      {{"ALCOHOL" | translate}}: 
      <ng-container *ngIf="details.amenities.beverage.exists && 
        (
          details.amenities.beverage.type === beverageTypes.ALCOHOLIC_AND_NONALCOHOLIC
          ||
          details.amenities.beverage.type === beverageTypes.ALCOHOLIC
        );else notExists;">
        {{details.amenities.beverage.alcoholic_paid ? ('PAID' | translate) : ('FREE' | translate)  }}
      </ng-container>
    </li>
  </ul>

</ng-container>
<ng-template #noDetailsAvailable>
  <p>{{"NO_DETAIL_INFO" | translate}}</p>
</ng-template>
<ng-template #notExists>{{"NO" | translate}}</ng-template>