@import "mixins";

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

mat-form-field,
.mat-form-field-appearance-legacy {
  width: 100%;
  font-family: var(--default-font-family);

  @include for-mobile {
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
    .mat-error {
      display: none !important;
    }
  }

  &.file-input-field {
    .mat-form-field-infix {
      border: none;
      background: none;
      padding: 0;
    }

    .mat-form-field-underline {
      display: none;
    }
  }

  .mat-input-element {
    padding-left: 15px;
    padding-right: 15px;
  }

  &.mat-focused {
    .mat-form-field-infix {
      border-color: var(--main-color);
      background-color: #fafbfc;
    }
  }

  .mat-form-field-infix {
    border: 1px solid transparent;
    background-color: var(--input-bg-color);
    padding: 1.179em 0;
    border-radius: 4px;
    transition: border-color 0.3s, background-color 0.3s;

    @include for-mobile {
      background-color: var(--white);
      border: 1px solid var(--border-color);
    }
  }
  &.ng-invalid.ng-touched {
    .mat-form-field-infix {
      border-color: var(--red);
    }
  }

  &.has-label {
    margin-top: 1.6em;
  }

  &.placeholder-instead-label {
    .mat-form-field-label-wrapper {
      display: flex;
      align-items: center;

      .mat-form-field-label {
        position: static;
        padding-left: 15px;
        transition: opacity 0.3s;
      }
    }

    &.mat-form-field-should-float {
      .mat-form-field-label-wrapper {
        .mat-form-field-label {
          opacity: 0;
        }
      }
    }
  }

  .mat-form-field-label-wrapper {
    padding-top: 1.6em;
    top: -1.6em;
  }

  .mat-form-field-label {
    transform: none !important;
    top: 0;
    color: var(--font-color-2) !important;
  }
}

app-datepicker {
  .mat-form-field-suffix {
    position: absolute;
    right: 15px;
    top: 14px;
  }
}

.form-field {
  margin-bottom: 15px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}

.mat-raised-button {
  &.btn {
    line-height: 40px;
    border-radius: 50px;
    box-shadow: none;
    border: none;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: var(--white);
    font-family: "Ubuntu", sans-serif;
  }
}

.fields-group {
  margin-bottom: calc(24px - 1.5em);
}

.dates-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  @include for-mobile {
    grid-template-columns: 1fr;
  }
  @include for-mobile {
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    margin-bottom: 25px;
    app-datepicker {
      mat-form-field,
      .mat-form-field-appearance-legacy {
        &:not(.mat-focused) {
          .mat-form-field-infix {
            border-color: transparent;
          }
        }
      }
      &:first-child {
        mat-form-field,
        .mat-form-field-appearance-legacy {
          .mat-form-field-infix {
            border-radius: 6px 6px 0 0;
          }
          &:not(.mat-focused) {
            .mat-form-field-infix {
              border-bottom: 1px solid var(--border-color);
            }
          }
        }
      }
      &:last-child {
        mat-form-field .mat-form-field-infix,
        .mat-form-field-appearance-legacy .mat-form-field-infix {
          border-radius: 0 0 6px 6px;
        }
      }
    }
  }
}

.from-to-fields {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;

  @include for-mobile {
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    margin-bottom: 25px;
  }

  app-input-autocomplete {
    width: calc(50% - 7.5px);
    @include for-mobile {
      width: 100%;
      mat-form-field,
      .mat-form-field-appearance-legacy {
        &:not(.mat-focused) {
          .mat-form-field-infix {
            border-color: transparent;
          }
        }
      }
      &:first-child {
        mat-form-field,
        .mat-form-field-appearance-legacy {
          .mat-form-field-infix {
            border-radius: 6px 6px 0 0;
          }
          &:not(.mat-focused) {
            .mat-form-field-infix {
              border-bottom: 1px solid var(--border-color);
            }
          }
        }
      }
      &:last-child {
        mat-form-field .mat-form-field-infix,
        .mat-form-field-appearance-legacy .mat-form-field-infix {
          border-radius: 0 0 6px 6px;
        }
      }
    }
  }

  > button {
    position: absolute;
    top: 8px;
    left: calc(50% - 17px);
    border-radius: 50%;
    border: 1px solid var(--border-color);
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    padding: 0 !important;
    z-index: 1;
    overflow: hidden;
    @include for-mobile {
      top: calc(50% - 17px);
      right: 10px;
      left: auto;
      transform: rotate(90deg);
      &::before {
        width: 9px;
        background-color: var(--white);
        left: calc(50% - 4.5px);
        top: 100%;
        height: 9px;
        content: "";
        position: absolute;
      }
      &::after {
        width: 9px;
        background-color: var(--white);
        left: calc(50% - 4.5px);
        top: -9px;
        height: 9px;
        content: "";
        position: absolute;
      }
    }
  }

  .from-field {
    mat-icon {
      color: var(--accent);
    }
  }

  .to-field {
    mat-icon {
      color: var(--main-color);
    }
  }

  mat-form-field,
  .mat-form-field {
    mat-icon {
      position: absolute;
      left: 15px;
      top: calc(50% - 10px);
      font-size: 20px;
    }

    &.placeholder-instead-label {
      .mat-input-element {
        padding-left: 40px;
      }

      .mat-form-field-label-wrapper {
        .mat-form-field-label {
          padding-left: 40px;
        }
      }
    }
  }
}

body {
  .mat-form-field-appearance-legacy .mat-form-field-prefix .mat-datepicker-toggle-default-icon,
  .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
    fill: var(--font-color-2);
    width: 20px;
  }

  .mat-select-arrow {
    color: var(--font-color-2);
    margin: 0 15px 0 10px;
  }

  .mat-select-value {
    color: var(--font-color-2);
    padding-left: 15px;
  }

  .mat-flat-button.mat-primary,
  .mat-raised-button.mat-primary,
  .mat-fab.mat-primary,
  .mat-mini-fab.mat-primary {
    background-color: var(--main-color);
  }

  .mat-raised-button {
    line-height: 48px;
    font-size: 18px;

    &:not([class*="mat-elevation-z"]) {
      box-shadow: none;
    }
  }

  .mat-autocomplete-panel {
    background: var(--white);
    border: 1px solid var(--main-color);
  }

  .mat-option {
    color: var(--font-color-1);
    background: var(--white);

    &.mat-active {
      background: var(--light-grey) !important;
      color: var(--font-color-1) !important;
    }

    &:hover {
      background: var(--light-grey) !important;
      color: var(--font-color-1) !important;
    }
  }

  .mat-option.mat-selected:not(.mat-option-multiple):not(.mat-option-disabled) {
    background: var(--main-color) !important;
    color: var(--white) !important;
    span {
      color: var(--white) !important;
    }
  }

  .mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover) {
    background: var(--font-color-2);
  }

  .mat-datepicker-content {
    background-color: var(--white);
    color: var(--font-color-1);
  }

  .mat-calendar-body-cell-content,
  .mat-date-range-input-separator {
    color: var(--font-color-1);

    &:hover {
      background: var(--light-grey-2) !important;
    }
  }

  .mat-calendar-arrow {
    border-top-color: var(--font-color-1);
  }

  .mat-datepicker-toggle,
  .mat-datepicker-content .mat-calendar-next-button,
  .mat-datepicker-content .mat-calendar-previous-button,
  .mat-calendar-table-header,
  .mat-calendar-body-label {
    color: var(--font-color-1);
    opacity: 0.7;
  }

  .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    border-color: var(--font-color-2);
  }

  .mat-calendar-body-selected {
    background-color: var(--main-color);
    color: var(--white);
  }

  .mat-button,
  .mat-raised-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button,
  .mat-fab,
  .mat-mini-fab {
    font-family: var(--default-font-family);
  }
}

body {
  ngx-slider.ngx-slider {
    height: 2px;
    &.is-equal {
      .ngx-slider-bubble {
        &.ngx-slider-model-value,
        &.ngx-slider-model-high {
          display: none;
        }
      }
    }
    .ngx-slider {
      &-bar-wrapper {
        height: 24px;
        margin-top: -12px;
        padding-top: 12px;
      }
      &-bar {
        height: 2px;
      }
      &-selection {
        background: var(--main-color);
        height: 2px;
      }
      &-pointer {
        width: 24px;
        height: 24px;
        background: var(--white);
        border: 2px solid var(--border-color);
        &::after,
        &::before {
          display: none;
        }
      }
      &-bubble {
        font-size: 13px;
      }
    }
  }
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: var(--main-color) !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--main-color) !important;
}

.filter-field {
  margin-bottom: 15px;
  @include for-mobile {
    margin-bottom: 10px;
  }
}

.mat-snack-bar-container.refresh-snackbar {
  background: var(--red);
  max-width: 80vw;
  color: var(--white);
  .mat-button {
    background: var(--body-bg-color);
    color: var(--red);
  }
  .mat-simple-snackbar {
    white-space: normal;
  }
}

.mat-icon-button {
  .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
