<!-- <ng-container> -->
<ng-container *ngIf="allResults$ | async as searchAllResults;else pageLoadSpinner">
    <ng-container *ngIf="!ticketUrlIsPreparing;else ticketPreloader">
        <ng-container *ngIf="searchResult">
            <div [class.d-none]="viewItem">
                <header>
                    <div class="header-inner">
                        <div>
                            <h1>
                                {{searchResult.segments.to.original_origin | getCity:searchResult.airports}}
                                <mat-icon>swap_horiz</mat-icon>
                                {{searchResult.segments.to.original_destination | getCity:searchAllResults.airports}}
                            </h1>
                            <div class="back-again">{{"TO" | translate}} <ng-container *ngIf="searchResult.segments.back">{{"AND_FROM" | translate}}</ng-container></div>
                        </div>
                        <div class="is-loading" *ngIf="isLoading;else filterBtn">
                            {{"LOOKING_FOR_RESULT" | translate}}
                            <div class="spinner">
                                <ng-container [ngTemplateOutlet]="spinner" [ngTemplateOutletContext]="{diameter: 30}"></ng-container>
                            </div>
                        </div>
                        <ng-template #filterBtn>
                            <div class="header-actions">
                                <button mat-icon-button routerLink="/" class="back-btn">
                                    <mat-icon>arrow_back</mat-icon>
                                </button>
                                <button  class="filter-btn" mat-icon-button (click)="onFilterToggle()">
                                    <mat-icon>filter_alt</mat-icon>
                                </button>
                                
                            </div>
                        </ng-template>
                    </div>
                </header>
                
                
                <ng-container *ngIf="visibleFlights$ | async as visibleFlights;else noRacesFound">
                    <ng-container *ngIf="visibleFlights.length;else noRacesFound">
                        <div
                            
                            class="search-results"
                            infiniteScroll
                            [infiniteScrollDistance]="2"
                            [infiniteScrollThrottle]="50"
                            (scrolled)="onScrollDown()">
                            
                            <mat-card class="race-item" *ngFor="let flight of visibleFlights;trackBy: trackByFn">
                                <div class="race-item__header">
                                    <div class="race-price">
                                        {{flight.price | number | customNumber}}
                                        <span>{{"SUM" | translate}}</span>
                                    </div>
                                    <div class="race-logos">
                                        <img *ngFor="let carrier of flight.carriers" [src]="carrier | getAirlineLogo" [matTooltip]="carrier | getAirlineName:searchResult.airlines" [alt]="carrier">
                                    </div>
                                </div>
                                <mat-card-content>
                                    <mat-list>
                                        <mat-list-item>
                                            <ng-container
                                                [ngTemplateOutlet]="segment"
                                                [ngTemplateOutletContext]="{segment: flight.segment.to}"></ng-container>
                                        </mat-list-item>
                                        <mat-list-item *ngIf="flight.segment.back">
                                            <ng-container
                                                [ngTemplateOutlet]="segment"
                                                [ngTemplateOutletContext]="{segment: flight.segment.back}"></ng-container>
                                        </mat-list-item>
                    
                                        <ng-template #race let-race>
                    
                                        </ng-template>
                                    </mat-list>
                                </mat-card-content>
                                <mat-card-actions>
                                    <!-- <a 
                                        class="buy-btn" 
                                        mat-raised-button 
                                        color="primary"
                                        [disabled]="resultTimeIsUp"
                                        [href]="'buy-ticket/' + flightSearch.search_id +'/'+ flight.terms.url">{{"BUY" | translate}}</a> -->
                                    <a 
                                        class="buy-btn" 
                                        mat-raised-button 
                                        color="primary"
                                        [disabled]="resultTimeIsUp"
                                        (click)="onBuy(flight.terms.url)">{{"BUY" | translate}}</a>
                                    <a href="#" (click)="onView($event, flight)" class="more-btn">
                                        {{"LEARN_MORE" | translate}}
                                        <mat-icon>keyboard_arrow_right</mat-icon>
                                    </a>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </ng-container>
                  
                </ng-container>
                
            </div>
        
            <app-race-view 
                *ngIf="viewItem" [flight]="viewItem" 
                [searchResult]="searchResult" 
                [tripClass]="flightSearch.trip_class"
                [searchId]="flightSearch.search_id"
                [resultTimeIsUp]="resultTimeIsUp"
                (backToList)="onBackToList()"
                (buyClicked)="onBuy($event)"
                (updateResult)="onResultUpdate($event)"></app-race-view>
        </ng-container>
        
    
        <app-races-filter 
            *ngIf="!isLoading"
            [filtersData]="searchResult.filters"
            [searchSegments]="searchAllResults.segments"
            [airports]="searchAllResults.airports"
            [airlines]="searchAllResults.airlines"
            [class.active]="filterIsActive"
            (filterChanged)="onFilterChange($event)"
            (closed)="onFilterToggle()"></app-races-filter>
        <div class="filter-backdrop" (click)="onFilterToggle()" [class.active]="filterIsActive"></div>
    </ng-container>
</ng-container>
<ng-template #ticketPreloader>
    <app-race-ticket></app-race-ticket>
</ng-template>
<ng-template #pageLoadSpinner>
    <div class="page-load-spinner">
        <ng-container *ngIf="isLoading;else noRacesFound">
            <ng-container *ngTemplateOutlet="spinner"></ng-container>
        </ng-container>
    </div>
</ng-template>

<ng-template #spinner let-diameter="diameter">
    <mat-spinner class="spinner" [diameter]="diameter || 100"></mat-spinner>
</ng-template>

<ng-template let-segment="segment" #segment>
    <div class="race-item__col">
        <span>{{segment.departure}} - {{segment.arrival}}</span>
        <div>{{segment.departure_timestamp * 1000 | customDate:'HH:mm':(segment.departure | getCityTimeZone:searchResult.airports)}} - {{segment.arrival_timestamp * 1000 | customDate:'HH:mm':(segment.arrival | getCityTimeZone:searchResult.airports)}}</div>
    </div>
    <div class="race-item__col text-center">
        <span>{{"IN_TRANSIT" | translate}}</span>
        <div>{{segment.total_duration | minutesToHoursMins}}</div>
    </div>
    <div  class="race-item__col">
        <ng-container *ngIf="segment.transfers_total_duration">
            <span>{{segment.races.length | transferCount}}</span>
            <div>{{segment.transfers_total_duration / 60 | minutesToHoursMins}}</div>
        </ng-container>
    </div>
</ng-template>
<ng-template #noRacesFound>
    <p class="nothing-found">
        {{"NOTHING_FOUND_BY_QUERY" | translate}} <a href="#" (click)="goHome($event)">{{"TO_SEARCH_PAGE" | translate}}</a> {{"AND_CHANGE_QUERY_PARAMS" | translate}}.
    </p>
</ng-template>
