<header>
    <div>
        <h1>
            Ташкент
            <mat-icon>swap_horiz</mat-icon>
            Бангкок
        </h1>
        <div class="back-again">Туда и обратно</div>
    </div>
    <button class="filter-btn" mat-icon-button>
        <mat-icon>filter_alt</mat-icon>
    </button>
</header>

<mat-card class="race-item">
    <div class="race-item__header">
        <div class="race-price">
            15 800 000
            <span>сум</span>
        </div>
        <div class="race-logos">
            <img src="/assets/images/temp/logo-1.png" alt="logo-1">
            <img src="/assets/images/temp/logo-2.png" alt="logo-2">
        </div>
    </div>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <div class="race-item__col">
                    <span>TAS - BBK</span>
                    <div>21:35 - 10:35</div>
                </div>
                <div class="race-item__col">
                    <span>В пути</span>
                    <div>13 часов</div>
                </div>
                <div class="race-item__col">
                    <span>1 пересадка</span>
                    <div>2 часа</div>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="race-item__col">
                    <span>TAS - BBK</span>
                    <div>21:35 - 10:35</div>
                </div>
                <div class="race-item__col">
                    <span>В пути</span>
                    <div>13 часов</div>
                </div>
                <div class="race-item__col">
                    <span>1 пересадка</span>
                    <div>2 часа</div>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button class="buy-btn" mat-raised-button color="primary">Купить</button>
        <a [routerLink]="['/races', 1]" class="more-btn">
            Подробнее
            <mat-icon>keyboard_arrow_right</mat-icon>
        </a>
    </mat-card-actions>
</mat-card>

<mat-card class="race-item">
    <div class="race-item__header">
        <div class="race-price">
            15 800 000
            <span>сум</span>
        </div>
        <div class="race-logos">
            <img src="/assets/images/temp/logo-1.png" alt="logo-1">
            <img src="/assets/images/temp/logo-2.png" alt="logo-2">
        </div>
    </div>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <div class="race-item__col">
                    <span>TAS - BBK</span>
                    <div>21:35 - 10:35</div>
                </div>
                <div class="race-item__col">
                    <span>В пути</span>
                    <div>13 часов</div>
                </div>
                <div class="race-item__col">
                    <span>1 пересадка</span>
                    <div>2 часа</div>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="race-item__col">
                    <span>TAS - BBK</span>
                    <div>21:35 - 10:35</div>
                </div>
                <div class="race-item__col">
                    <span>В пути</span>
                    <div>13 часов</div>
                </div>
                <div class="race-item__col">
                    <span>1 пересадка</span>
                    <div>2 часа</div>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button class="buy-btn" mat-raised-button color="primary">Купить</button>
        <a [routerLink]="['/races', 1]" class="more-btn">
            Подробнее
            <mat-icon>keyboard_arrow_right</mat-icon>
        </a>
    </mat-card-actions>
</mat-card>

<mat-card class="race-item">
    <div class="race-item__header">
        <div class="race-price">
            15 800 000
            <span>сум</span>
        </div>
        <div class="race-logos">
            <img src="/assets/images/temp/logo-1.png" alt="logo-1">
            <img src="/assets/images/temp/logo-2.png" alt="logo-2">
        </div>
    </div>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <div class="race-item__col">
                    <span>TAS - BBK</span>
                    <div>21:35 - 10:35</div>
                </div>
                <div class="race-item__col">
                    <span>В пути</span>
                    <div>13 часов</div>
                </div>
                <div class="race-item__col">
                    <span>1 пересадка</span>
                    <div>2 часа</div>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="race-item__col">
                    <span>TAS - BBK</span>
                    <div>21:35 - 10:35</div>
                </div>
                <div class="race-item__col">
                    <span>В пути</span>
                    <div>13 часов</div>
                </div>
                <div class="race-item__col">
                    <span>1 пересадка</span>
                    <div>2 часа</div>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button class="buy-btn" mat-raised-button color="primary">Купить</button>
        <a [routerLink]="['/races', 1]" class="more-btn">
            Подробнее
            <mat-icon>keyboard_arrow_right</mat-icon>
        </a>
    </mat-card-actions>
</mat-card>