@import "components/mixins";
:host {
  padding-bottom: 75px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.inputs-group {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 15px;
  @include for-mobile {
    grid-template-columns: 1fr;
  }
}

button.apply-btn {
  padding: 0 55px;
  @include for-mobile {
    width: 100%;
  }
}

h1 {
  margin-bottom: 50px;
  @include for-mobile {
    margin-bottom: 25px;
  }
}

hr {
  border-color: var(--border-color);
  border-top: 0;
  margin: 20px 0;
}

.trip-class-btn {
  display: block;
  margin-bottom: 10px;
}

.passengers-class-menu {
  padding: 10px 15px;
}

.passengers-class-btn {
  height: 50px;
  padding: 0 20px;
  background: var(--input-bg-color);
  border-radius: 4px;
  border: none;
  text-align: left;
  span {
    color: var(--na-font-color);
  }
  @include for-mobile {
    border: 1px solid var(--border-color);
    background: var(--white);
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    div {
      &::after {
        content: ",";
        margin-right: 7px;
      }
    }
  }
}

.mob-title {
  display: none;
  @include for-mobile {
    display: block;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
    color: var(--black);
  }
}
