<h1 class="title-1">Авиабилеты</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="from-to-fields fields-group">
        <app-input-autocomplete
            placeholder="Откуда"
            class="from-field"
            [options]="fromOptions$ | async"
            [control]="controls.departure">
            <mat-icon>location_on</mat-icon>
        </app-input-autocomplete>
        <span>
            <mat-icon>swap_horiz</mat-icon>
        </span>
        <app-input-autocomplete
            placeholder="Куда"
            [options]="toOptions$ | async"
            class="to-field"
            [control]="controls.arrival">
            <mat-icon>location_on</mat-icon>
        </app-input-autocomplete>
    </div>

    <div class="inputs-group fields-group">
        <app-datepicker
            placeholder="Туда"
            class="from-field"
            [control]="controls.departure_date">
        </app-datepicker>

        <app-datepicker
            placeholder="Обратно"
            class="from-field"
            [control]="controls.arrival_date">
        </app-datepicker>

        <app-select
            placeholder="Количество пассажиров"
            [options]="passengersQuantityOptions"
            [control]="controls.passengers"></app-select>
    </div>

    <div class="text-center">
        <button mat-raised-button color="primary" [disabled]="form.invalid">Искать билеты</button>
    </div>

</form>