<div class="home">
    <h1 class="title-1">{{'TICKETS' | translate}}</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mob-title">{{'DIRECTION' | translate}}</div>
    <div class="from-to-fields fields-group">
        <app-input-autocomplete
            [placeholder]="'FLIGHT_FROM_INPUT' | translate"
            class="from-field"
            [options]="fromOptions$ | async"
            [control]="controls.departure">
            <mat-icon>location_on</mat-icon>
        </app-input-autocomplete>
        <button mat-icon-button (click)="replaceDiractions()" type="button" [disabled]="!controls.departure.value || !controls.arrival.value">
            <mat-icon>swap_horiz</mat-icon>
        </button>
        <app-input-autocomplete
            [placeholder]="'FLIGHT_TO_INPUT' | translate"
            [options]="toOptions$ | async"
            class="to-field"
            [control]="controls.arrival">
            <mat-icon>location_on</mat-icon>
        </app-input-autocomplete>
    </div>

    <div class="inputs-group fields-group">
        <div class="mob-title">{{"DATES" | translate}}</div>
        <div class="dates-fields">
            <app-datepicker
                [placeholder]="'TO' | translate"
                class="from-field"
                [control]="controls.departure_date"
                [minDate]="departureMinDate"
                [maxDate]="departureMaxDate"
                [touchUi]="isMobile">
            </app-datepicker>
    
            <app-datepicker
                [placeholder]="'FROM' | translate"
                class="from-field"
                [control]="controls.arrival_date"
                [minDate]="controls.departure_date.value"
                [maxDate]="departureMaxDate"
                [touchUi]="isMobile">
            </app-datepicker>
        </div>

        <div class="mob-title">{{"PASSENGERS" | translate}}</div>
        <button type="button" class="passengers-class-btn"  [matMenuTriggerFor]="menu" (click)="onPassengersMenuOpen()">
            <div>
                {{passengersCount}} {{"PASSENGER" | translate}}
            </div>
            <span>
                {{activeTripClass}}
            </span>
        </button>
    </div>

    <div class="text-center">
        <button class="apply-btn" mat-raised-button color="primary" [disabled]="form.invalid">{{"SEARCH_TICKETS" | translate}}</button>
    </div>

</form>

<mat-menu #menu="matMenu">
    <div class="passengers-class-menu" (click)="$event.stopPropagation()">
        <div class="passengers-number">
            <div>
                {{"ADULTS" | translate}}
                <span>{{"ADULTS_NOTE" | translate}}</span>
            </div>
            <app-count-input 
                [control]="controls.passengers['controls'].adults"
                [minValue]="controls.passengers['controls'].infants.value ? controls.passengers['controls'].infants.value :1"
                [maxDisable]="
                    passengersCount === maxPassengersCount"
                [matTooltip]="controls.passengers['controls'].infants.value === controls.passengers['controls'].adults.value 
                ? ('ADULTS_WARN' | translate)
                : null"
                #adultsTooltip="matTooltip" (click)="adultsTooltip.toggle()"></app-count-input>
        </div>
        <div class="passengers-number">
            <div>
                {{"CHILDREN" | translate}}
                <span>{{"CHILDREN_NOTE" | translate}}</span>
            </div>
            <app-count-input 
                [control]="controls.passengers['controls'].children"
                [maxDisable]="passengersCount === maxPassengersCount"></app-count-input>
        </div>
        <div class="passengers-number">
            <div>
                {{"INFANTS" | translate}}
                <span>{{"INFANTS_NOTE" | translate}}</span>
            </div>
            <app-count-input 
                [control]="controls.passengers['controls'].infants"
                [maxDisable]="
                    passengersCount === maxPassengersCount 
                    || 
                    controls.passengers['controls'].infants.value >= controls.passengers['controls'].adults.value
                "
                [matTooltip]="controls.passengers['controls'].infants.value === controls.passengers['controls'].adults.value 
                    ? ('INFANTS_WARN' | translate)
                    : null"
                #infantsTooltip="matTooltip" (click)="infantsTooltip.toggle()"></app-count-input>
        </div>
    
        <hr>
        <mat-radio-group [formControl]="controls.trip_class">
            <mat-radio-button class="trip-class-btn" *ngFor="let option of tripClassOptions" [value]="option.value">{{option.title}}</mat-radio-button>
        </mat-radio-group>
    </div>
</mat-menu>
</div>