<div class="home">
    <h1 class="title-1">Авиабилеты</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mob-title">Направление</div>
    <div class="from-to-fields fields-group">
        <app-input-autocomplete
            placeholder="Откуда"
            class="from-field"
            [options]="fromOptions$ | async"
            [control]="controls.departure">
            <mat-icon>location_on</mat-icon>
        </app-input-autocomplete>
        <button mat-icon-button (click)="replaceDiractions()" type="button" [disabled]="!controls.departure.value || !controls.arrival.value">
            <mat-icon>swap_horiz</mat-icon>
        </button>
        <app-input-autocomplete
            placeholder="Куда"
            [options]="toOptions$ | async"
            class="to-field"
            [control]="controls.arrival">
            <mat-icon>location_on</mat-icon>
        </app-input-autocomplete>
    </div>

    <div class="inputs-group fields-group">
        <div class="mob-title">Даты</div>
        <div class="dates-fields">
            <app-datepicker
                placeholder="Туда"
                class="from-field"
                [control]="controls.departure_date"
                [minDate]="departureMinDate">
            </app-datepicker>
    
            <app-datepicker
                placeholder="Обратно"
                class="from-field"
                [control]="controls.arrival_date"
                [minDate]="controls.departure_date.value">
            </app-datepicker>
        </div>

        <div class="mob-title">Пассажиры</div>
        <button type="button" class="passengers-class-btn"  [matMenuTriggerFor]="menu">
            <div>
                {{passengersCount}} пассажир
            </div>
            <span>
                {{activeTripClass}}
            </span>
        </button>
    </div>

    <div class="text-center">
        <button class="apply-btn" mat-raised-button color="primary" [disabled]="form.invalid">Искать билеты</button>
    </div>

</form>

<mat-menu #menu="matMenu">
    <div class="passengers-class-menu">
        <div class="passengers-number">
            <div>
                Взрослые
                <span>Старше 12 лет</span>
            </div>
            <app-count-input 
                [control]="controls.passengers['controls'].adults"
                [minValue]="1"
                [maxDisable]="passengersCount === maxPassengersCount"></app-count-input>
        </div>
        <div class="passengers-number">
            <div>
                Дети
                <span>От 2 до 12 лет</span>
            </div>
            <app-count-input 
                [control]="controls.passengers['controls'].children"
                [maxDisable]="passengersCount === maxPassengersCount"></app-count-input>
        </div>
        <div class="passengers-number">
            <div>
                Младенцы
                <span>До 2 лет, без места</span>
            </div>
            <app-count-input 
                [control]="controls.passengers['controls'].infants"
                [maxDisable]="passengersCount === maxPassengersCount"></app-count-input>
        </div>
    
        <hr>
        <mat-radio-group [formControl]="controls.trip_class" (click)="$event.stopPropagation()">
            <mat-radio-button class="trip-class-btn" *ngFor="let option of tripClassOptions" [value]="option.value">{{option.title}}</mat-radio-button>
        </mat-radio-group>
    </div>
</mat-menu>
</div>