<h4>{{"FLIGHT_FROM" | translate}} {{searchSegments.to.original_origin | getCity:allAirports:'po'}}</h4>
<div class="filter-field" *ngFor="let airport of filterAirports.departure">
  <mat-checkbox 
    (change)="onChange($event, form.controls.to['controls'].departure)"
    [value]="airport"
    [checked]="airport | inArray:form.controls.to['controls'].departure.value">{{airport | getAirportName:allAirports}}</mat-checkbox>
</div>

<hr>

<h4>{{"ARRIVAL_TO" | translate}} {{searchSegments.to.original_destination | getCity:allAirports:'vi'}}</h4>
<div class="filter-field" *ngFor="let airport of filterAirports.arrival">
  <mat-checkbox 
    (change)="onChange($event, form.controls.to['controls'].arrival)"
    [value]="airport"
    [checked]="airport | inArray:form.controls.to['controls'].arrival.value">{{airport | getAirportName:allAirports}}</mat-checkbox>
</div>
<hr>
<ng-container *ngIf="searchSegments?.back">
  <h4>{{"FLIGHT_FROM" | translate}} {{searchSegments.back.original_origin | getCity:allAirports:'po'}}</h4>
  <div class="filter-field" *ngFor="let airport of filterAirports.arrival">
    <mat-checkbox 
      (change)="onChange($event, form.controls.back['controls'].departure)"
      [value]="airport"
      [checked]="airport | inArray:form.controls.back['controls'].departure.value">{{airport | getAirportName:allAirports}}</mat-checkbox>
  </div>
  <hr>

  <h4>{{"ARRIVAL_TO" | translate}} {{searchSegments.back.original_destination | getCity:allAirports:'vi'}}</h4>
  <div class="filter-field" *ngFor="let airport of filterAirports.departure">
    <mat-checkbox 
      (change)="onChange($event, form.controls.back['controls'].arrival)"
      [value]="airport"
      [checked]="airport | inArray:form.controls.back['controls'].arrival.value">{{airport | getAirportName:allAirports}}</mat-checkbox>
  </div>
</ng-container>

