<mat-form-field [class.has-label]="label" [class.placeholder-instead-label]="!label && placeholder">
    <mat-label *ngIf="label">
        {{label}}
        <span *ngIf="isRequired" class="required-mark">*</span>
    </mat-label>
    <input 
        type="text"
        [readonly]="readonly"
        [formControl]="control" 
        matInput 
        [placeholder]="placeholder"
        [matDatepicker]="picker"
        [min]="minDate"
        (click)="picker.open()">
    <div matSuffix>
        <ng-container *ngIf="clearable && control.value;else toggleBtn">
            <button class="clear-btn" mat-icon-button (click)="onClear()">
                <mat-icon>close</mat-icon>
            </button>
        </ng-container>
        <ng-template #toggleBtn>
            <mat-datepicker-toggle  [for]="picker"></mat-datepicker-toggle>
        </ng-template>
    </div>
    <mat-datepicker [touchUi]="touchUi" #picker></mat-datepicker>
    <mat-error *ngFor="let error of errors">
        {{error.message}}
    </mat-error>
    <ng-content></ng-content>
</mat-form-field>