:root {
  --body-bg-color: #fafbfc;
  --input-bg-color: #eef2f7;
  --font-color-1: #000;
  --font-color-2: #5f6163;
  --accent: #f0668a;
  // --accent: #EB5757;
  --black: #000000;
  --white: #ffffff;
  --facebook-color: #3b5998;
  --youtube-color: #da2724;
  --vk-color: #1a4b78;
  --container-side-padding: 15px;
  --sidenav-width: 242px;
  --light-grey: #e5e5e5;
  --light-grey-2: #cecece;
  --dark-color: #333333;
  --primary-color: #f0668a;
  --main-color: #33cccc;
  --secondary-color: #70cdf5;
  --light-grey-2: #bdbdbd;
  --default-font-family: "Rubik", sans-serif;
  --border-color: #dee5ea;
  --font-color-3: #969696;
  --na-font-color: #8d8d8d;
}
