.upload-button {
  background-color: var(--gray);
  color: var(--white);
  margin-right: 10px;
}

.inputs {
  display: none;
}

.file-uploader {
  display: flex;
  align-items: center;
}

.uploaded-files {
  span {
    margin-right: 5px;
  }
}
